<launch>
	<param name="/kb_places_xml" type="string" value="$(find velma_bring_jar)/map/places.xml" />

	<!-- launch velma simulation -->
	<include file="$(find velmobil_navigation)/launch/velmobil_navigation.launch" />

	<!-- run tf broadcaster of objects: stolik, szafka, jar -->
	<node name="object_marker_broadcaster" pkg="velma_bring_jar" type="object_marker"/>

	<!-- run configured rviz -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find velma_bring_jar)/rviz/bring_jar.rviz"/>

</launch>
